.Counter {
    width: 300px;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

.Counter span {
    display: block;
    font-size: 3em;
}

.Counter button {
    padding: 20px;
    font-size: 2em;
}